<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Excercise1", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-nav mr-auto">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Exercise1", "Index", "Home", new { area = ""}, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
