<!-- ep 40 -->
@*model Exercise1.Models.Customer*@
@model Exercise1.ViewModels.CustomerFormViewModels

<!-- created in ep 38-->

@{
    //ViewBag.Title = "New"; test3 pt2
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- test3 pt2 <h2>New Customer</h2> -->
<h2>@Model.Title</h2>
<!-- ep55 -->
@*Html.ValidationSummary()*@ <!-- this will gives back the list of errors, the second one only a custom message and not display errors of id not valued, like CustomerId without the new Customer in CustomerController in the new function -->
@Html.ValidationSummary(true, "Please fix the following errors.")
<!-- ep44 -->
@*using (Html.BeginForm("Create", "Customers"))*@
@using (Html.BeginForm("Save", "Customers"))
{
    //  the code before does this: <form> </form>
    <div class="form-group">
        <!-- ep 40 -->
        @*Html.LabelFor(m => m.Name) *@
        @* Html.TextBoxFor(m => m.Name, new { @class = "form-control" }) *@
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        <!-- ep50 -->
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <!-- ep40 -->
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        <!-- ep50 -->
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        <!-- ep39 -->
        @*Html.LabelFor(m => m.BirthDate)*@
        <!-- ep40 -->
        <!-- <label for="Birthdate"> Date of Birth</label> -->
        @* Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" }) *@
        @Html.LabelFor(m => m.Customer.BirthDate)
        <!-- ep43 -->
        @*Html.TextBoxFor(m => m.Customer.BirthDate, new { @class = "form-control" })*@
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
        <!-- ep50 -->
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>
    <!-- ep55 place MembershipType before BirthDate, in old version was BirthDate first -->
    <div class="checkbox">
        <label>
            <!-- ep40 -->
            <!-- Subscribed to NewsLetter? @*Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter) *@-->
            Subscribed to NewsLetter? @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter)
        </label>
    </div>
    <!-- ep44 -->
    @Html.HiddenFor(m => m.Customer.Id)
    <!-- ep57 -->
    @Html.AntiForgeryToken()
    <!-- ep41 -->
    <button type="submit" class="btn btn-primary">Save</button>
}

<!-- ep56 -->
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}